/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

hr{
    width: 100%;
    text-align: center;
    margin: 5px 0 5px 0;
    height: 1px;
    border-width: 0;
    color: rgb(212, 207, 200);
    background-color: rgb(212, 207, 200);
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p{
    font-size: 12px;
}
input, button {
    border-radius: 20px;
    border: none;
}

input {
    background-color: rgb(212, 207, 200);
    height: 30px;
    width: clamp(400px, 600px, 800px);
}

button {
    color: white;
    font-weight: 600;
    width: 85px;
    padding: 8px 0;
    background-color: rgb(106, 186, 159);
    margin: 5px;
}



/* layer 1 */
.content {
    background-color: rgb(212, 207, 200);
    width: 100%;
    display: grid;
    grid-template: 148px 1fr/ 15% 85%;
}



/* layer 2 */
.sidebar {
    width: 100%;
    background-color: rgb(106, 186, 159);
    color: white;
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template: 1fr 3fr 2fr 8fr / 100%;
    gap: 50px;
}

.header {
    width: 100%;
    height: 148px;
    background-color: rgb(251, 244, 235);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    box-shadow: 1px 1px 2px 2px rgb(162 158 153);
    display: grid;
    grid-template: repeat(2, 50px) / 100%;
    overflow: hidden;
}

.main-content {
    width: 98%;
    margin: 40px 1% 20px 1%;
    background-color: rgb(212, 207, 200);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
    border: none;
    gap: 1%;
    font-family: 'Courier New', Courier, monospace;
}

#plain {
    font-family: 'Inter Tight', sans-serif;
}




/* Layer 3 */
.logo-cont { /* sidebar */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    gap: 1vh;
    padding-left: 2vw;
}

.side-div {
    display: grid;
    grid-template: 1fr / 20% 80%;
    gap: 1vh;
    padding-left: 2vw;
} 

/* header */
.head-top, 
.head-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-top {
    margin: 20px 40px 0 40px;
}

.head-end {
    margin: 10px 40px 0 40px;
    height: 80px;
}

/* main-content */
.projects {
    width: 70%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template: 20px repeat(3, minmax(200px, 250px)) / repeat(2, 48.5%);
    gap: 3%;
    overflow: hidden;
}

.projects-right {
    width: 25%;
    display: grid;
    grid-template: 20px 1fr 10px 20px 1fr 1fr / 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 3%;
}



/* Layer 4 */
.icons { /* sidebar */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.icons, .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

/* header */
.top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.head-top-right {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head-end-right {
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head-top-left, 
.head-end-left {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* main-content - projects */
.project-head {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.tile {
    background-color: rgb(251, 244, 235);
    border-left: 10px solid rgb(224, 179, 75);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* main-content - projects-right */
.announce-head {
    grid-row-start: 1;
    grid-row-end: 2;
}

.announcements {
    grid-row-start: 2;
    grid-row-end: 3;
}

.trend-head {
    grid-row-start: 4;
    grid-row-end: 5;
}

.trending {
    grid-row-start: 5;
    grid-row-end: 6;
}


.right-head {
    margin: 10px 0 0 0;
}



/* Layer 5 */
.head-top-right > p { /* header & sidebar */
    font-weight: 700;
}
.logo {
    height: 35px;
    width: 35px;
}
.logo-small {
    height: 20.5px;
    width: 20.5px;
}
.logo-mid {
    height: 20.5px;
    width: 29px;
}
.logo-large {
    height: 60px;
    width: 60px;
}

/* main-content - projects */
.r-tile {
    background-color: rgb(251, 244, 235);
    border-radius: 10px;
    padding: 20px;
}

.runes {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

/* main-content - projects-right */
.r-tile {
    background-color: rgb(251, 244, 235);
    border-radius: 10px;
    padding: 20px;
}

#bottom {
    display: grid;
    grid-template: 1fr/ 1fr 3fr;
}

.smol {
    font-size: 10px;
}

.user-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 20px;
}